<div class="pagination">
  <div class="pagination__prev">
    {{#checkIfSup page 1}}
    <a href="/ideas/page/{{prevPage page}}">
      <svg class="navigation-list__icon feather ">
        <use xlink:href="/icons/feather-sprite.svg#chevron-left" />
      </svg>
    </a>
    {{/checkIfSup}}
  </div>
  <div class="pagination__text">
    <p>Page {{page}} of {{pages}} - {{count}} total results</p>
  </div>
  <div class="pagination__next">
    {{#checkIfInf page pages}}
    <a href="/ideas/page/{{nextPage page}}">
      <svg class="navigation-list__icon feather ">
        <use xlink:href="/icons/feather-sprite.svg#chevron-right" />
      </svg>
    </a>
    {{/checkIfInf}}
  </div>
</div>