<div class="ideas-add">
  <h2 class="ideas-add__header">Add a Idea ..</h2>
  <form action="/ideas" method="POST" class="ideas-add__form">
    <label for="title" class="ideas-add__label ideas-add__label--title">Title</label>
    <input type="text" id="title" name="title" value="{{title}}" class="ideas-add__input ideas-add__input--title">
    {{#if errors}}
    <div class="form-error">{{errors.title}}</div>
    {{/if}}

    <div class="form-row">

      {{#each categories}}
      <div class="ideas-add__categorie">
        <input type="radio" name="categorie" value={{_id}} class="ideas-add__categorie-radio" id="{{text}}">
        <label for="{{text}}" class="ideas-add__categorie-label">{{text}}</label>
      </div>
      {{/each}}

    </div>

    <label for="body" class="ideas-add__label ideas-add__label--body">Body</label>
    <textarea name="body" id="body" class="ideas-add__input ideas-add__input--body" cols="30" rows="8">{{body}}</textarea>
    {{#if errors}}
    <div class="form-error">{{errors.body}}</div>
    {{/if}}
    <input type="submit" class="ideas-add__form-submit" value="add idea">
  </form>
</div>