<div class="ideas">

  <div class="ideas__container">
    {{#each ideas}}
    <div class="ideas__idea">
      <div class="ideas__idea-date">{{dateToDisplay}}</div>
      <h4 class="ideas__idea-title">{{title}}</h4>
      <div class="ideas__idea-body">{{body}}</div>
      <a href="/edit/{{_id}}" class="ideas__idea-edit-link">
        <svg class="ideas__idea-edit-icon feather">
          <use xlink:href="/icons/feather-sprite.svg#edit" />
        </svg>
      </a>
      <a href="#" class="ideas__idea-delete-link">
        <svg class="ideas__idea-delete-icon feather">
          <use xlink:href="/icons/feather-sprite.svg#trash" />
        </svg>
      </a>

      <form action="/delete/{{_id}}" method="POST" id="delete-idea-form"></form>
    </div>
    {{else}}
    <p>No ideas to show !!</p>
    {{/each}}
  </div>
</div>