<div class="ideas">

  <div class="ideas__container">
    {{#each ideas}}
    <div class="ideas__idea">
      <div class="ideas__idea-date">{{date}}</div>
      <h4 class="ideas__idea-title">{{title}}</h4>
      <div class="ideas__idea-body">{{body}}</div>
      <a href="/edit/{{_id}}" class="ideas__idea-edit-link">
        <svg class="ideas__idea-edit-icon feather">
          <use xlink:href="/icons/feather-sprite.svg#edit" />
        </svg>
      </a>
    </div>
    {{else}}
    <p>No ideas to show !!</p>
    {{/each}}
  </div>
</div>