<div class="ideas">
  <div class="categorie-header__wrapper">
    <div class="categorie-header__circle" style="background-color: {{categorie.color}};"></div>
    <h2 class="categorie-header__text">{{categorie.text}}</h2>
  </div>

  <div class="ideas__container">
    {{#each ideas}}
    <div class="ideas__idea">
      <div class="ideas__idea-date">{{date}}</div>
      <h4 class="ideas__idea-title">
        <a href="/idea/{{_id}}" class="ideas__idea-link">
          <div class="ideas__idea-categorie" style="background-color: {{categorie.color}};;"></div>{{titleToDisply}}
        </a>
      </h4>
      <div class="ideas__idea-body">{{preview}}</div>
    </div>
    {{else}}
    <p class="ideas__no-ideas">No ideas added to this Categorie yet !!</p>
    {{/each}}
  </div>
</div>